@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body,
html {
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  background-color:#F8FAFC;
  font-family: 'Inter', sans-serif !important;
}
.active-link {
  font-weight: bold;
}
.editor-container {
  height: 500px; /* Set your desired height */
}

.editor-container .ql-container {
  height: 100%;
}

.editor-container .ql-editor {
  height: 100%;
  overflow-y: auto; /* Optional: Adds scroll for overflow content */
}

/* Custom styles for bottom navigation buttons */
.bottom-nav-button {
  transition: background-color 0.3s, transform 0.3s;
}

.bottom-nav-button:hover {
  background-color: #e2e8f0; /* Tailwind's bg-gray-200 */
  transform: translateY(-2px);
}

li>ul { transform: translatex(100%) scale(0) }
li:hover>ul { transform: translatex(101%) scale(1) }
li > button svg { transform: rotate(-90deg) }
li:hover > button svg { transform: rotate(-270deg) }

/* Below styles fake what can be achieved with the Tailwind config
   you need to add the group-hover variant to scale and define your custom
   min width style.
*/
.group:hover .group-hover\:scale-100 { transform: scale(1) }
.group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
.scale-0 { transform: scale(0) }
.min-w-32 { min-width: 8rem }