@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  font-family: "Inter", sans-serif !important;
}
.active-link {
  font-weight: bold;
}
.editor-container {
  height: 500px; /* Set your desired height */
}

.editor-container .ql-container {
  height: 100%;
}

.editor-container .ql-editor {
  height: 100%;
  overflow-y: auto; /* Optional: Adds scroll for overflow content */
}

/* Custom styles for bottom navigation buttons */
.bottom-nav-button {
  transition: background-color 0.3s, transform 0.3s;
}

.bottom-nav-button:hover {
  background-color: #e2e8f0;
  transform: translateY(-2px);
}

li > ul {
  transform: translatex(100%) scale(0);
}
li:hover > ul {
  transform: translatex(101%) scale(1);
}
li > button svg {
  transform: rotate(-90deg);
}
li:hover > button svg {
  transform: rotate(-270deg);
}

.group:hover .group-hover\:scale-100 {
  transform: scale(1);
}
.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg);
}
.scale-0 {
  transform: scale(0);
}
.min-w-32 {
  min-width: 8rem;
}

.ScrollTop {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: none;
}

.arrow path {
  fill: white;
}

.text {
  font-size: 0.7em;
  width: 100px;
  position: absolute;
  color: rgb(8, 8, 8);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -18px;
  opacity: 0;
  transition-duration: 0.7s;
}

.ScrollTop:hover .text {
  opacity: 1;
  transition-duration: 0.7s;
}

.ScrollTop:hover .arrow {
  animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .ScrollTop {
    bottom: 50px; /* Adjust as needed */
    right: 50%; /* Center horizontally */
    transform: translateX(50%);
  }
}
